body{
    background-color: rgb(81, 22, 97);
    color: rgb(219, 154, 74);
    font-family: 'Courier New', Courier, monospace;
margin: 0px;
}

header{ 
    font-size: 50px;
    text-align: center ;
    border-bottom: double 5px rgb(213, 12, 213);
    /* margin: 20px;*/
    padding: 30px;
    color: darkgray;
}
h1{ 
    font: size 30px; ;
}

p{
    font-size: 20px;
}
